{% load static %}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>made with ❤ by</h4>
  	 			<ul>
  	 			<li><a href="https://instagram.com/daffasyafitra?igshid=MjEwN2IyYWYwYw==">Daffa Syafitra</a></li>
					<li><a href="https://instagram.com/yalfddn_?igshid=MzRlODBiNWFlZA==">Yafi Alifuddin</a></li>
  	 			</ul>
      </div>
      <div class="footer-col">
        <h4>contact</h4>
        <ul>
          <li><a href="https://wa.me/6281317246050">Valorant(Hanif)</a></li>
          <li><a href="https://wa.me/6281288569636">Digital Poster(Afnan)</a></li>
          <li><a href="https://wa.me/6281384409050">Short Movie(Nadia)</a></li>
      </div>
      <div class="footer-col">
        <h4>content</h4>
        <ul>
          <li><a href="/itech">home</a></li>
          <li><a href="/itech/about">tentang</a></li>
          <li><a href="/itech/daftar">daftar</a></li>
          <li><a href="/itech/juknis">juknis</a></li>
          <li><a href="/itech/timeline">timeline</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://instagram.com/ict.man4jkt?igshid=MzRlODBiNWFlZA=="><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/@ICTMAN4Jakarta"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
